<div>
  <h2 id="page-heading" data-cy="RssHeading">
    <span sopraTranslate="portailGestionnaireApp.rss.home.title">Rsses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span sopraTranslate="portailGestionnaireApp.rss.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rss"
        [routerLink]="['/rss/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span sopraTranslate="portailGestionnaireApp.rss.home.createLabel"> Create a new Rss </span>
      </button>
    </div>
  </h2>

  <sopra-alert-error></sopra-alert-error>

  <sopra-alert></sopra-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rsses?.length === 0">
    <span sopraTranslate="portailGestionnaireApp.rss.home.notFound">No rsses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rsses && rsses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span sopraTranslate="global.field.id">ID</span></th>
          <th scope="col"><span sopraTranslate="portailGestionnaireApp.rss.titre">Titre</span></th>
          <th scope="col"><span sopraTranslate="portailGestionnaireApp.rss.url">Url</span></th>
          <th scope="col"><span sopraTranslate="portailGestionnaireApp.rss.estActive">Est Active</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rss of rsses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rss', rss.id, 'view']">{{ rss.id }}</a>
          </td>
          <td>{{ rss.titre }}</td>
          <td>{{ rss.url }}</td>
          <td>{{ rss.estActive }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/rss', rss.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" sopraTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/rss', rss.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" sopraTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rss)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" sopraTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
