<div class="row">
  <div class="col-md-3">
    <span class="sopra img-fluid rounded"></span>
    <img *ngIf="account?.client?.logo" class="client img-fluid rounded" [src]="account?.client?.logo" />
  </div>

  <div *ngIf="!account" class="col-md-9">
    <sopra-login></sopra-login>
  </div>
  <div class="col-md-9" *ngIf="account">
    <h1 class="display-4"><span sopraTranslate="home.title">Portail Gestionnaire</span></h1>

    <p class="lead" sopraTranslate="home.subtitle">This is your homepage</p>
    <div *ngIf="!account">
      <sopra-login></sopra-login>
    </div>
    <div>
      <div class="alert alert-success">
        <span id="home-logged-message" *ngIf="account" sopraTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
    </div>
    <div class="row" *sopraHasAnyAuthority="'ROLE_USER'">
      <div class="col-md-4" *ngFor="let article of articles">
        <sopra-article [article]="article"></sopra-article>
      </div>
    </div>
  </div>
</div>
